
.pressed { background-color: lightgrey; }

@font-face {
    font-family: 'BarcaFont1';
    src: url('./assets/barcelona_font1.ttf') format('truetype'); 
}

body {
    font-family: 'BarcaFont1', sans-serif; 
    background-color: #181733;
    margin: 0;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.wired.co.uk%2Fphotos%2F606db98e73af541e62695c4e%2F16%3A9%2Fw_2560%252Cc_limit%2Fain7_20171213_fcb_vis_futur-camp-nou_campus_aerial_1_night.jpg&f=1&nofb=1&ipt=026dbdcb7a48aa0a6afcd41197b8f212fa1327979a37fe8deb17af892841f4bf&ipo=images");
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181733;
    opacity: 0.5;
    z-index: -1;
}

.container_posts {
    margin: auto;
}
.post {
    background-color: #fff;
}

.header-container{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-partido {
    order: 1;
}

.estadio{
    display: flex;
    align-items: center;
    justify-content: center;

}
.estadioLogo {
    width: 50px;
    height: auto; 
    margin-right: -2vw;
}

.detalles-partido {
    order:2;
}

.marcador-partido, .nombres-equipos {
    text-align: center;
}

.LogoMarcador {
    width: 6vw;
    height: auto;
}
.estadioLogo {
    width: 4vw;
    height: auto;
    padding: 1vw;
}

.nombres-equipos {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Tamaños*/
.container_posts {
    width: 60vw;
    padding: 30px;
}
.post {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 20px;
}
/**/


.tituloPost{
    flex: 3;
}
.imagenPartido {
    width: 90%;
}


/* Estilos para pantallas de 1100px a 1000px */
@media screen and (max-width: 1100px) and (min-width: 1000px) {

    /* Post */
    .container_posts {
        width: 660px;
    }
    /* Header */
    /* infoPartido */
    /* MarcadorPartido */

    /* Cuerpo Post */
}

/* Estilos para pantallas de 1000px a 815px */
@media screen and (max-width: 1000px) and (min-width: 815px) {

/* Post */
.container_posts {
        width: 660px;
}
/* Header */
/* infoPartido */
/* MarcadorPartido */

/* Cuerpo Post */
}

/* Estilos para pantallas de 815px a 640px */
@media screen and (max-width: 815px) and (min-width: 640px) {

/* Post */
.container_posts {
    width: 660px;
}
/* Header */
.header-container {
    flex-direction: column; /* Cambiar a una columna en pantallas más pequeñas */
}
.container_posts {
    width: 100vw;
}
.info-partido,.detalles-partido {
    width: 100%; /* Ambos ocupan el 100% del ancho */
    order: unset; /* Restablecer el orden para la disposición de una columna */
}

.info-partido {
    margin-bottom: 20px; /* Agregar espacio entre los elementos */
}
/* infoPartido */
/* MarcadorPartido */

/* Cuerpo Post */
}

/* Estilos para pantallas de 640px o menos */
@media screen and (max-width: 640px) {

/* Post */
/* Header */
.header-container {
    flex-direction: column; /* Cambiar a una columna en pantallas más pequeñas */
}
.container_posts {
    width: 100vw;
}
.info-partido,.detalles-partido {
    width: 100%; /* Ambos ocupan el 100% del ancho */
    order: unset; /* Restablecer el orden para la disposición de una columna */
}

.info-partido {
    margin-bottom: 20px; /* Agregar espacio entre los elementos */
}
/* infoPartido */
/* MarcadorPartido */

/* Cuerpo Post */
}