
.pressed { background-color: lightgrey; }

@font-face {
    font-family: 'BarcaFont1';
    src: url('@assets/BarcelonaFont2.ttf') format('truetype'); 
}

body {
    font-family: 'BarcaFont1', sans-serif; 
    background-color: #181733;
    margin: 0;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.wired.co.uk%2Fphotos%2F606db98e73af541e62695c4e%2F16%3A9%2Fw_2560%252Cc_limit%2Fain7_20171213_fcb_vis_futur-camp-nou_campus_aerial_1_night.jpg&f=1&nofb=1&ipt=026dbdcb7a48aa0a6afcd41197b8f212fa1327979a37fe8deb17af892841f4bf&ipo=images");
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181733;
    opacity: 0.5;
    z-index: -1;
}

.container_posts {
    margin: auto;
}
.post {
    background-color: #fff;
}

.header-container{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.estadio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalles-partido {
    order:1;
}

.LogoMarcador {
    width: 5vw;
}
.estadioLogo {
    width: 3vw;
    height: auto;
    padding: 1vw;
    padding-bottom: 1px;
    margin-right: -2vw;
}


/*Tamaños*/
.container_posts {
    width: 40vw;
    padding: 20px;
}
.post {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 20px;
}
/**/