

.container_posts {
    margin: auto;
}
.post {
    background-color: #fff;
}

.header-container{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.estadio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalles-partido {
    order:1;
}

.LogoMarcador {
    width: 5vw;
}
.estadioLogo {
    width: 3vw;
    height: auto;
    padding: 1vw;
    padding-bottom: 1px;
    margin-right: -2vw;
}


/*Tamaños*/
.container_posts {
    width: 40vw;
    padding: 20px;
}
.post {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 20px;
}
/**/