.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A0927;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-container a {
    text-decoration: none;
    color: #EDBB00;
    margin: 0 30px;
    font-size: 1em;
    transition: color 0.3s, font-size 0.3s;
}
.nav-container .logo {
    width: 380px;
    height: auto;
}

.nav-container a:hover {
    color: #ebd06d;
    font-size: 1.1em;
}

.nav-container a:last-child {
    margin-right: 0;
}

/* Estilos cuando el navbar está fijo */
.nav-container.scrolled {
    position: sticky;
    background-color: #0A0927;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: sombra para resaltar */
    z-index: 1000;
    opacity: 0.9; /* Opacidad reducida */
    padding-top: 1rem; 
}

.nav-container.scrolled a {
    color: white;
}

.nav-container.scrolled a:hover {
    color: #ebd06d; 
}
